.film{
    padding-top: 200px;
}

.filmInfo{
    display: flex;
    margin-bottom: 30px;
}

.filmImage{
    margin-right: 30px;
    position: relative;
}

.filmRating{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.description{
    width: 70%;
    max-width: 800px;
    color: #fff;
}

.filmName{
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.descriptionItem{
    margin-bottom: 10px;
}

                              
.swiperItem img{
   
        width: 100%;
        height: 100%;
        object-fit: cover;	
    
}
